# 服务配置
ENV=dev
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
API_PREFIX=/api/v1
PROJECT_NAME=VersatileMallMultiTenantAPI

# PostgreSQL 异步连接
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=123456
PG_DATABASE=versatile_mall

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# 日志
LOG_LEVEL=INFO